---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const title = 'My Astro Learning blog'
---

<BaseLayout pageTitle={title}>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
            {allPosts.map((post) => {
                console.log(post)
                return (
                    <li>
                        <BlogPost url={post.url} title={post.frontmatter.title} />
                    </li>
                ) 
                
            })}
        </ul>
</BaseLayout>
